.userDetailsSection{
    background: rgb(211, 236, 162);
    color: rgb(41, 41, 41);
}

.NotFinishedInTime{
    border: 2px solid rgb(238, 21, 21);
    padding: 1rem;
    text-align: center;
    border-radius: 8px;
    width: 60%;
}

.finishedTime{
    color: rgb(238, 21, 21);
    font-weight: bold;
}

.finishedInTime{
    border: 2px solid rgb(0, 27, 117);
    padding: 1rem;
    text-align: center;
    border-radius: 8px;
    width: 60%;
}

.notFinishedTime{
    color: rgb(0, 27, 117);
    font-weight: bold;
}

.overMsg{
    color: red;
}

.userDetailsContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.userDetails{
    width: 40%;
    background:#79797970;
    padding: 2rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.userDetails>h2{
    text-align: center;
    margin-bottom: 1rem;
}

.errorMsg{
    width: 100%;
    background: rgba(255, 0, 0, 0.13);
    color: rgb(216, 0, 0);
    border: 1px solid rgb(214, 0, 0);
    border-radius: 8px;
    padding: 8px;
    font-weight: bold;
    text-align: center;
}